*{
    margin: 0;
}
body{
    height: 100vh;
    background-color: black;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.animation1{
    /* background-color: #8BC34A; */
    /* background-color: black; */
}
.layer1{
    color:#9c27b0;
    font-family:sans-serif;
    font-size: 12em;
    font-weight: 900;
}
.layer2{
    color:red;
    font-family:sans-serif;
    font-size: 12em;
    font-weight: 900;
    opacity: 0.5;
    position: absolute;
    transform: translate(10px,10px);
}
.section1{
    transform: translate(-110px,10px);
}
.section2{
    transform: translate(10px,10px);
}
.section3{
    transform: translate(210px,10px);
}
.section1:hover, .section2:hover, .section3:hover{
    cursor: pointer;
}
.box1{
    width: 100px;
    height: 100px;
    background: pink;
}


.animation2{
    justify-content: space-evenly;
    position: relative;
    background-color: red;
}
.line{
    width: 90px;
    height: 400px;
    background-color: white;
    opacity: 0.6;
}
.line:hover{
    cursor: pointer;
}
#main{
    height:100%;
    /* background-color: black; */
}

.animation3{
    background-color: #520052;
}
#grid {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    height: 84vh;
    width: 98vh;
    /* background-color: yellow; */
    transition: .15s ease-in 0s;
}

#verticalLines{
    /* background-color: green; */
    height: 84vh;
    width: 98vh;
    position: absolute;
    z-index: 1;
    /* opacity: 0.2; */
}
.verticalLine{
    height: 84vh;
    width: 2vh;
    background-color: orange;
}
#horizontalLines{
    height: 84vh;
    width: 98vh;
    position: absolute;
    /* opacity: .4; */
}
.horizontalLine{
    width: 98vh;
    height: 2vh;
    margin: 9vh 0;
    background-color: yellow;
}
.empty {
    height: 12vh;
    width: 12vh;
    border-Radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7vh;
    background-color: whitesmoke;
    box-shadow: inset 1vh 1vh 1vh gray;
}
