*{
    margin: 0;
}
body{
    height: 100vh;
    background-color: black;
}
#main{
    height:100%;
    /* background-color: black; */
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.animation1{
    /* background-color: #8BC34A; */
    /* background-color: black; */
}
.layer1{
    color:#9c27b0;
    font-family:sans-serif;
    font-size: 12em;
    font-weight: 900;
}
.layer2{
    color:red;
    font-family:sans-serif;
    font-size: 12em;
    font-weight: 900;
    opacity: 0.5;
    position: absolute;
    transform: translate(10px,10px);
}
.section1{
    transform: translate(-110px,10px);
}
.section2{
    transform: translate(10px,10px);
}
.section3{
    transform: translate(210px,10px);
}
.section1:hover, .section2:hover, .section3:hover{
    cursor: pointer;
}
.box1{
    width: 100px;
    height: 100px;
    background: pink;
}
.animation2{
    justify-content: space-evenly;
    position: relative;
    background-color: red;
}
.line{
    width: 90px;
    height: 400px;
    background-color: white;
    opacity: 0.6;
}
.line:hover{
    cursor: pointer;
}
.fourthRectangle{
  background: purple;
  width: 186px;
  height: 400px;
}
.smallRectangle{
  background: yellow;
  float: left;
  clip-path: circle(50%);
  shape-outside: circle(50%);
  width: 130px;
  height: 131px;
}
.animation3{
    background-color: #520052;
}
#grid {
    display: grid;
    /* grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    height: 84vh;
    width: 98vh;
    background-color: yellow;*/
    transition: .15s ease-in 0s;
}

#verticalLines:hover{
    /* background-color: green; */
}
#verticalLines{
    /* height: 84vh; */
    width: 98vh;
    /* position: absolute; */
    display: flex;
    justify-content: space-evenly;
    /* opacity: 0.2; */
}

#horizontalLines{
    height: 84vh;
    /* width: 98vh; */
    position: absolute;
    /* opacity: .4; */
}
.verticalLine{
    /* z-index: 1; */
    height: 84vh;
    width: 2vh;
    background-color: black;
}
.verticalLine:hover{
    background-color: green;
}
.horizontalLine{
    width: 98vh;
    height: 2vh;
    margin: 9vh 0;
    /* background-color: yellow; */
    background-color: pink;
}
.horizontalLine:hover{
    background-color: orange;
}
.animation4{
    background-color: yellow;
    justify-content: space-evenly;
    background-image: url('dark_night.jpg');
}
.ball{
    width: 60vh;
    height: 60vh;
    /* opacity: 0.7; */
    border-radius: 50%;

    animation-duration: 15s;
    /* animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.ball1{
    /* background-color: red; */
    animation-name: slideright;
    background-image: url('sun.png');

}
.moon{
    /* background-color: blue; */
    animation-name: slideleft;
    background-image: url('moon.png');

}


@keyframes slideleft {
  0% {
    transform: translateX(-0vw);
  }

  50% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(-0vw);
  }
}
@keyframes slideright {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.empty {
    height: 12vh;
    width: 12vh;
    border-Radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7vh;
    background-color: whitesmoke;
    box-shadow: inset 1vh 1vh 1vh gray;
}
